.wantAnswer {
    float: right;
    font-size: 16px;
    padding: 4px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 23px;
    line-height: 15px;
    font-weight: bold;
    color: rgb(51, 122, 183);
}
.acceptAnswerIcon {
    margin-left: 15px;
    width: 10%;
    float: left;
    font-size: 35px;
    color: #318e08;
}
.caretBig {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.textComment {
    text-align: justify;
    width: 85%;
    float: left;
}
.actionAnswer {
    left: -96px;
    min-width: 103px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>form:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    text-decoration: none;
    color: #ffffff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
#email-error, #password-error, #confirm_password-error, #professional-error {
    width: 100% !important;
    color: red !important;
    font-size: 12px !important;
}
.dropdown-menu>li>form {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.panel-Confirm {
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    width: 295px;
    position: fixed;
    padding: 20px;
    top: -100%;
    left: 50%;
    margin-left: -131px;
    z-index: 998;
    color: #2f3239;
    display: none;
}
.panelMessage {
    color: rgb(89, 89, 89);
    margin-left: 3px;
    font-weight: bold;
    font-size: 14px;
}
.panelButton {
    float: left;
    width: 44%;
}
.panel-Confirm h2 {
    border-bottom: 2px solid #B5B5B5;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(226, 84, 84);
}